.nav-items
{
margin-left: 49%;
}

.nav-item:hover
{
    background-color:rgb(7, 206, 241);
    border-radius: 20px;
}
.pr-name
{
    margin-top: 6px;
    /*background-color: whitesmoke;*/
}
.img-hight
{
    height: 50%;
}