
.navbar-nav {
    margin-left: 40%;
}

.nav-item
{
    padding: 0 5px;
}
.nav-item:hover
{
    background-color:rgb(7, 206, 241);
    border-radius: 20px;
}
.pr-name
{
    margin-top: 6px;
    /*background-color: whitesmoke;*/
}
.img-hight
{
    height: 50%;
}

#footer {
  background-color: #fff;
  color: #8f8f8f;
  padding: 3% 40% 3%;
}

.footerIcons {
  color: #000;
  padding: 0 4% 5%;
}