/*body{
    height: 700px;
}

header{
    height: 50px;
    background-color:white;
    margin-bottom: 20px;
}

.left{
    
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 15px;
    left: 20px;
}

.left div{
    text-align: center;
    line-height: 5px;
    font-size: 27px;
    margin-top: 15px;
}

.right{
    
    display: inline-block;
    position: absolute;
    right:5px;
    top: 15px;
}

.navbar li{
    display: inline-block;
    font-size: 20px;
    
}

.navbar li a{
    color: black;
    text-decoration: none;
    padding: 20px 15px;
}

.navbar li a:hover,.navbar li a.active{
    color: red;
    text-decoration: underline;
}

.dropdown button{
background-color: white;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
border: white;
color: black;
font-size: 20px;
}

.contImg{
    margin: 20px 0px;
    max-width: 100%;
}

.contImg img{
    width: 100%;
    height:600px;
}*/

.nav-items
{
margin-left: 49%;
}

.nav-item:hover
{
    background-color:rgb(7, 206, 241);
    border-radius: 20px;
}
.pr-name
{
    margin-top: 6px;
    /*background-color: whitesmoke;*/
}
.img-hight
{
    height: 50%;
}