

.main{
    width: 85%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    border:2px solid black;
}

#title{
    color: white;
    background-color: cadetblue;
    width: 95%;
    margin: 2% auto;
    font-size: 1.5rem
}

#info{
    
}
.cont{
    display: inline-block;
    text-align: center;
    width: 40%;
    margin-bottom: 20px;
}

.box{
    border: 1px solid black;
    width: 60%;
    border-radius: 2px;
    margin: auto;
    padding: 2px 2px;
}