/*body {
    text-align: center;
}*/

#main{
    width: 75%;
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    border: 5px solid rgb(219, 166, 67);
    border-top: 15px solid rgb(219, 166, 67);
    border-radius: 5px;
    padding-bottom: 3%;
}

#title{
    font-size: 1.5rem;
    background-color: rgb(13, 27, 223);
    color: white;
    margin: 1% 1%;
    padding: 0.5% 0.5%;
}

#result{
    margin: 2% 3%;
    font-size: 1.5rem;
    background-color: burlywood;
}

#innerdiv{
    width: 90%;
    margin: auto;
    color: #fff;
    background-color: rgb(13, 27, 223);
}

.disease {
    background: lightgreen;
    padding: 0 1%;
}

.box{
    color: #fff;
    margin: 21px 28px auto;
    padding: 15px 25px;
    display: inline-block;
    width: 20%;
    height: 55px;
    background-color: red;
}